$height: 27px;
.main_input_block {
  position: relative;
  height: $height;
  .main_input {
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .filter_button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #00af7b;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: $height;
    &:hover {
      cursor: pointer;
    }
  }
  .issuers {
    .issuer {
      margin: 10px 0;
      float: left;
      width: 100%;
      .issuer_label {
        width: 50%;
        text-align: right;
        padding-right: 10px;
      }
      .issuer_model {
        width: 50%;
        float: right;
      }
    }
  }
}

.content_block {
  display: block;
  position: absolute;
  background: white;
  z-index: 9999;
  // box-shadow: 7px 10px 10px 5px #444;
  padding: 20px 15px;
  min-width: 560px;
  border-top: 20px solid #00af7b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  h5 {
    font-size: 18px;
  }
  .set_button {
    background: #00af7b;
    color: white;
    border: 1px solid #00af7b;
    border-radius: 5px;
    width: 24%;
    float: right;
    &:hover {
      background: white;
      color: #00af7b;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
}
.clear_picker {
  position: absolute;
  right: 25px;
  top: 5px;
}
